header{
    background-color: #788B91;
    color: white;
    font-size: 34px;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.menu-bar-single-line {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px;
}

#menu-bar:hover > .menu-bar-single-line{
    width: 40px;
    height: 6px;
    background-color: white;
    margin: 6px 0;
    transition-duration: 500ms;
    animation-duration: 500ms;
}

#daser{
    position: relative;
    float: left;
    margin-left: 3px;
    font-family: Roboto;

}

#menu-bar{
    position: relative;
    float: right;
    color: white;
    margin-right: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 20px;
}

body{
    position: relative;
    margin: 0;
    background-color: #122F39;
}

#container{
    margin: 20px;
    position: relative;
    clear: both;
}

#header-container{
  position: relative;
}

#sql-command{
    width: calc(100% - 180px);
    position: relative;
    font-size: 20px;
    padding: 10px;
    padding-left: 18px;
    float: left;
    margin: 0;
    border: none;
    position: relative;
    float: left;
    overflow: hidden;
}

.enter-button{
    color: white;
    position: relative;
    font-size: 20px;
    background-color: #788B91;
    width: 50px;
    height: 43.5px;
    float: left;
    padding: 10px;
    border: none;
}

.import-button{
  color: white;
  position: relative;
  font-size: 20px;
  background-color: #788B91;
  width: 50px;
  height: 43.5px;
  padding: 5px;
  float: right;
  margin-right: 3px;
  border: none;
}

.far.fa-file-import{
    color: white;
    background-color: inherit;
    position: relative;
    display: inline-block;
    font-size: 40px;
    top: 7px;
    left: 20px;
}

#container-body {
  background-color: #788B91;
  top: 20px;
  clear: both;
  position: relative;
}

.sql-buttons{
    background-color: inherit;
    color: white;
    font-size: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: solid white;
    position: relative;
    display: inline-block;
}

#export-button{
    background-color: #122F39;
    color: white;
    border: none;
    float: right;
}
