header{
    background-color: #788B91;
    color: white;
    font-size: 34px;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.menu-bar-single-line {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px;
}

#menu-bar:hover > .menu-bar-single-line{
    width: 40px;
    height: 6px;
    background-color: white;
    margin: 6px 0;
    transition-duration: 500ms;
    animation-duration: 500ms;
}

#daser{
    position: relative;
    float: left;
    font-family: Roboto;

}

#menu-bar{
    position: relative;
    float: right;
    color: white;
    font-size: 20px;
}

body{
    position: relative;
    margin: 0;
    background-color: #122F39;
}

#container{
    height: 80vh;
    margin: 20px;
    position: relative;
}

#sql-command{
    width: 87.5vw;
    position: relative;
    font-size: 20px;
    padding: 10px;
    display: inline-block;
    margin: 0;
    border: none;
}

.enter-button{
    color: white;
    position: relative;
    font-size: 20px;
    background-color: gray;
    width: 50px;
    height: 43.5px;
    padding: 5px;
    border: none;
    display: inline-block;
}

.far.fa-file-import{
    color: white;
    position: relative;
    display: inline-block;
    font-size: 40px; 
    top: 7px;
    left: 20px;
}

.sql-buttons{
    background-color: inherit;
    color: white;
    font-size: 20px;
    border-top: none;
    border-bottom: none;
    border-left: none;
    border-right: solid white;
    position: relative;
    display: inline-block;
}

#export-button{
    background-color: #122F39;
    color: white;
    border: none;
    position: relative;
    float: right;
    margin: 5px;
    font-size: 16px;
}

#container-body{
    background-color: #788B91;
    margin-top: 10px;

}