button:focus{
    outline: 0;
}

header{
    background-color: #788B91;
    color: white;
    font-size: 34px;
    position: relative;
    padding: 15px;
    overflow: hidden;
}

.menu-bar-single-line {
    width: 35px;
    height: 3px;
    background-color: white;
    margin: 6px;
}

#menu-bar:hover > .menu-bar-single-line{
    width: 40px;
    height: 5px;
    background-color: white;
    margin: 6px 0;
    transition-duration: 500ms;
    animation-duration: 500ms;
}

#menu-bar:hover{
    cursor: pointer;
}

#daser{
    position: relative;
    float: left;
    margin-left: 3px;
    font-family: Roboto;

}

#menu-bar{
    position: relative;
    float: right;
    color: white;
    margin-right: 3px;
    margin-top: 4px;
    margin-bottom: 4px;
    font-size: 20px;
}

#menu-bar:hover{
    margin-top: 0px;
    margin-bottom: 0px;
}

body{
    position: relative;
    margin: 0;
    background-color: #122F39;
    max-width: 100%;
    overflow-x: hidden;
    font-family: Roboto;
}

#container{
    margin: 20px;
    position: relative;
    clear: both;
}

#header-container{
  position: relative;
}

#sql-command{
    width: calc(100% - 180px);
    position: relative;
    font-size: 20px;
    padding: 10px;
    padding-left: 18px;
    float: left;
    margin-left: 3px;
    border: none;
    position: relative;
    float: left;
    overflow: hidden;
}

.enter-button{
    color: #ccc;
    position: relative;
    font-size: 20px;
    background-color: #788B91;
    width: 50px;
    height: 43.5px;
    float: left;
    padding: 10px;
    border: none;
    cursor:pointer;
}

.enter-button:hover,
.import-button:hover {
    cursor: pointer;
    color:white;
    transition: 0.2s;
}

.import-button{
  color: #ccc;
  position: relative;
  font-size: 20px;
  background-color: #788B91;
  width: 50px;
  height: 43.5px;
  padding: 5px;
  float: right;
  margin-right: 3px;
  border: none;
  cursor: pointer;
}

.far.fa-file-import{
    color: white;
    background-color: inherit;
    position: relative;
    display: inline-block;
    font-size: 40px;
    top: 7px;
    left: 20px;
}

#container-body {
  background-color: #788B91;
  top: 20px;
  margin-right: 3px;
  margin-left: 3px;
  clear: both;
  position: relative;
}

.sql-button-container{
  display: inline-block;
  border-right: 3px solid #CCC;
}

.sql-buttons{
    background-color: inherit;
    color: #CCC;
    font-size: 25px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin-right: 10px;
    padding-left: 10px;
    border: none;
    position: relative;
    cursor: pointer;
}

.sql-button-container:first-child .sql-buttons {
  padding-left: 15px;
}

.sql-buttons:hover{
  color: white;
  transition: 0.2s;
}

#export-button{
    background-color: #122F39;
    color: white;
    border: none;
    float: right;
    top: 9px;
    margin-right: 15px;
    padding: 4px 7px 3px;
    position: relative;
    cursor: pointer;
}

#schema-svg{
    top: 20px;
    position: relative;
    margin: 0px 3px;
}

#group-svg{
    transform: translate(200px,50px);
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: #ccc; 
}
 
::-webkit-scrollbar-thumb {
    background: #aaa; 
}

::-webkit-scrollbar-thumb:hover {
    background:  #777; 
}

.tooltip {
    position: relative;
    display: inline-block;
}

.tooltip .tooltiptext {
    visibility: hidden;
    width: 100px;
    background-color: #000;
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 5px 0;
    position: absolute;
    z-index: 1;
    bottom: 125%;
    left: 50%;
    margin-left: -50px;
    opacity: 0;
    transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
    content: "";
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: #000 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
}

@media only screen and (max-width: 630px) {
    .sql-button-container-right{
        display: inline-block;
        border-right: 3px solid #CCC;
    }
}

@media only screen and (min-width: 631px){
    .sql-button-container-right{
        border-left: 3px solid #CCC;
        padding-left: 5px;
        float: right;
    }
}